body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(233, 244, 255);
}

.app {
  text-align: center;
}
.navbar {
  background-color: rgb(33, 73, 107);
}
.top-header {
  display: flex;
  align-items: center;
}
.title {
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px rgb(65, 96, 122);
  margin: 0;
  cursor: default;
}
.buttons {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 0px 10px;
}
.btn-submit {
  background-color: rgb(33, 73, 107);
  border: none;
}
main {
  background-color: rgb(233, 244, 255);
}
.img-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  margin-top: 30px;
  width: 80%;
}
.img-list {
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  left: 500px;
}
.card {
  background-color: rgb(233, 244, 255);
  border: none;
  margin-bottom: 40px;
}
.card-body {
  background-color: #fff;
  border-radius: 6px;
}
